extends layout-logged

block content
    h1 Add runner
    form(name="search", method="post", action="/runner/add")
        p name
        input(type="text", name="name")
        p km
        input(type="text", name="km")
        p
        span.actions
            input(type="submit", value="add", name="submit")
    